@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}
.bgImg{
background: url('../images/back-1.webp');
}
button.btn.btn-lg.btn-custom {
    background-color: #0D65A1;
    color: aliceblue;
    border-radius: 50px;
}
button.btn.btn-lg.btn-custom2 {
    background-color: aqua;
    color: aliceblue;
    border-radius: 50px;
}
.Navigation{
    background: transparent;
}
h1 {
    font-weight: 900 !important;
    font-size: 4.5rem !important;
}
.bgImg2{
    background: url('../images/back_2.jpg');
    background-size: cover;
}
.bgImg3{
    background: url('../images/back5.jpg');
    background-size: cover;
    
    
}
.bgImg4{
    background-color: #0D65A1;
}
.bgImg5{
    background: url('../images/back3.jpg');
    background-size: cover;
}
a.nav-link{
   cursor: pointer;
}
a.nav-link:hover{
    color: blue;
}
ul li {
    list-style-type: none;
}